<div ng-controller="CalculadoraCtrl" >
<form name="form" class="form-inline" ng-submit="enviar()">
    <div class="row" style="margin-bottom: 20px">
        <div class="form-group col-md-12">
            <h3 class="text-center bold"><i class="fa fa-calculator"></i> Calculadora de tarifas</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="form-group col-md-12">

            <select class="form-control input-lg" ng-model="plano" style="width:100%" required>
                <option value="" selected="selected">Selecione o plano</option>
                <option value="{{plano._id}}" ng-repeat="plano in planos">{{plano.nome}}</option>
            </select>

        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                <input ng-model="origem" typeahead="ddd for ddd in ddds | filter:$viewValue | limitTo:8" name="origem" only-digits maxlength="3"  class="form-control input-lg" type="text" placeholder="Origem" required>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                <input ng-model="destino" typeahead="ddd for ddd in ddds | filter:$viewValue | limitTo:8" name="destino" class="form-control input-lg" only-digits maxlength="3" type="text" placeholder="Destino" required>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-microphone"></i></div>
                <input ng-model="minutos" name="minutos"  class="form-control input-lg" only-digits type="text" maxlength="5" placeholder="Tempo em Minutos" required>
            </div>
        </div>
        <div class=" col-md-2">
            <button type="submit" ng-disabled="form.$invalid" btn-loading class="btn btn-default aligncenter btn-lg"><i class="fa fa-send"></i> Enviar</button>
        </div>
    </div>
</form>
<div class="row" style="margin-bottom: 20px" ng-if="!!result">
    <div class="form-group col-md-12 text-center">
        <div class="col-md-6"><h3><i class="fa fa-money fa-lg"></i> <strong>Com plano: <i class="fa fa-dollar"></i> {{result.comPlano | number : 2}}</strong></h3></div>
        <div class="col-md-6"><h3><i class="fa fa-money fa-lg"></i> <strong>Sem plano: <i class="fa fa-dollar"></i> {{result.semPlano | number : 2}}</strong></h3></div>
    </div>
</div>
    <div class="alert text-center" role="alert" ng-if="info"><h3><i class="fa fa-info-circle"></i> {{info}}</h3></div>
    <div class="alert alert-danger text-center" role="alert" ng-if="error"><h3><i class="fa fa-times-circle"></i> {{error}}</h3></div>
</div>
