<h2>Planos</h2>
<p class="big grey">Here are the stuffs which we do.</p>
<hr>

<!-- Services starts -->

<div class="services">
    <div class="row">

        <div class="col-md-4 col-sm-4">
            <h5>Fale mais 30</h5>
            <p>Suspesse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. </p>
            <hr>
        </div>
        <div class="col-md-4 col-sm-4">
            <h5>Fale mais 60</h5>
            <p>Suspesse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. </p>
            <hr>
        </div>
        <div class="col-md-4 col-sm-4">
            <h5>Fale mais 120</h5>
            <p>Suspesse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="col-l">
                <div class="service">
                    <div class="b-orange serv-block">
                        <i class="fa fa-user"></i>
                        <h3>Para você</h3>
                    </div>
                    <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
                    <a href="#">Take a look </a><i class="fa fa-angle-double-right"></i>
                </div>
            </div>
            <div class="col-r">
                <div class="service">
                    <div class="b-blue serv-block">
                        <i class="fa fa-briefcase"></i>
                        <h3>Pequenos negócios</h3>
                    </div>
                    <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
                    <a href="#">Take a look </a><i class="fa fa-angle-double-right"></i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            <div class="col">
                <div class="service">
                    <div class="b-green serv-block">
                        <i class="fa fa-university"></i>
                        <h3>Grandes empresas</h3>
                    </div>
                    <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
                    <a href="#">Take a look </a><i class="fa fa-angle-double-right"></i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <hr>

</div>

<!-- Services Ends -->

<!-- Product & links starts -->

<div class="prod">
    <div class="row">
        <div class="col-md-12">
            <div class="home-product">
                <ng-include src="'/views/calculadora.html'"></ng-include>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-8">

        <!-- Add the class "phighlight" to highlight specific table -->

        <!-- Pricing table #1. Class name "price-a" -->
        <div class="price-a pricel center">
            <div class="phead-top b-orange">
                <!-- Title -->
                <h4>Fale Mais 30</h4>
            </div>
            <div class="phead-bottom">
                <!-- Price. Use the syntax correctly. -->
                <p><span class="pst">$</span> 4.99 <span class="psb">/m</span></p>
            </div>
            <div class="arrow-down"></div>
            <div class="plist">
                <!-- List -->
                <ul>
                    <li>1 GB Disk Space</li>
                    <li>10 GB Data Transfer</li>
                    <li>Single Domain</li>
                    <li>10 Email Ids</li>
                    <li>Top Notch Support</li>
                    <li>Instant Activation</li>
                </ul>
            </div>
            <div class="pbutton button">
                <!-- button -->
                <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
            </div>
        </div>

        <!-- Pricing table #2. Class name "price-b" -->
        <div class="price-b pricel center">
            <div class="phead-top b-blue">
                <h4>Fales Mais 60</h4>
            </div>
            <div class="phead-bottom">
                <p><span class="pst">$</span> 8.99 <span class="psb">/m</span></p>
            </div>
            <div class="arrow-down"></div>
            <div class="plist">
                <ul>
                    <li>1 GB Disk Space</li>
                    <li>10 GB Data Transfer</li>
                    <li>Single Domain</li>
                    <li>10 Email Ids</li>
                    <li>Top Notch Support</li>
                    <li>Instant Activation</li>
                </ul>
            </div>
            <div class="pbutton button">
                <!-- button -->
                <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="col-md-4">

        <!-- Pricing table #3. Class name "price-a" -->
        <div class=" pricel center">
            <div class="phead-top b-green">
                <h4>Fale Mais 120</h4>
            </div>
            <div class="phead-bottom">
                <p><span class="pst">$</span> 12.99 <span class="psb">/m</span></p>
            </div>
            <div class="arrow-down"></div>
            <div class="plist">
                <ul>
                    <li>1 GB Disk Space</li>
                    <li>10 GB Data Transfer</li>
                    <li>Single Domain</li>
                    <li>10 Email Ids</li>
                    <li>Top Notch Support</li>
                    <li>Instant Activation</li>
                </ul>
            </div>
            <div class="pbutton button">
                <!-- button -->
                <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
            </div>
        </div>


        <div class="clearfix"></div>

    </div>
</div>
<hr>
